* { margin: 0; }

h1 {
    color: rgb(254, 254, 254);
    padding-top: 25px;
}

.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #3472f8,#cb812d);
}

.datetime {
    font-size: 16px;
    padding: 24px;
    color:rgb(9, 9, 9);
}
